table, th, td {
	border: 1px solid black;
	padding: 2px;
	background-color: #a7adba;
	border-collapse: collapse;
}

th {
	border-style: none;
	text-align: center;
}

.center{
	margin-left: auto;
	margin-right: auto;
	margin-top: 15%;
}

body {
	/*background-image: url(/images/photo-1528818955841-a7f1425131b5.jpg);*/
	background-image: url(https://raw.githubusercontent.com/jacobholtz/itmd-361-lab5/master/images/photo-1528818955841-a7f1425131b5.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}